<!-- Add Patient Modal -->
<div class="modal fade" id="editPatientModal{{ patient.id }}" tabindex="-1" role="dialog" aria-labelledby="#editPatientLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPatientModalLabel">Edit Patient</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Add Patient Form -->
                <form action="{{ url_for('edit_patient', patient_id=patient.id) }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="firstName">{{ form.firstname.label }}</label>
                        {{ form.firstname(class="form-control", id="firstName", value=form.firstname.data or patient.first_name) }}
                    </div>

                    <div class="form-group">
                        <label for="lastName">{{ form.lastname.label }}</label>
                        {{ form.lastname(class="form-control", id="lastName", value=form.lastname.data or patient.last_name) }}
                    </div>
                    <div class="form-group">
                        <label for="insurance">{{ form.insurance.label }}</label>
                        {{ form.insurance(class="form-control", id="insurance", value=form.insurance.data or patient.insurance) }}
                    </div>
                    <div class="form-group">
                        <label for="address">{{ form.address.label }}</label>
                        {{ form.address(class="form-control", id="address", value=form.address.data or patient.address) }}
                    </div>
                    <div class="form-group">
                        <label for="phone_number">{{ form.phone_number.label }}</label>
                        {{ form.phone_number(class="form-control", id="phone_number", value=form.phone_number.data or patient.phone_number) }}
                    </div>
                    <button type="submit" class="btn btn-success">Edit Patient</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
