<!-- Edit Room Modal -->
<div class="modal fade" id="editRoomModal{{ room.id }}" tabindex="-1" role="dialog" aria-labelledby="editRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRoomModalLabel">Edit Room</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Edit Room Form -->
                <form method="POST" action="{{ url_for('edit_room', room_id=room.id) }}">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="room_type">{{ form.room_type.label }}</label>
                        {{ form.room_type(class="form-control", id="room_type",  value=form.room_type.data or room.room_type) }}
                    </div>
                    <div class="form-group">
                        <label for="available">{{ form.available.label }}</label>
                        {{ form.available(class="form-control", id="available", value=form.available.data or room.available) }}
                    </div>
                    <button type="submit" class="btn btn-success">Save Changes</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
