<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>www.HPR.com</title>
      <link rel="stylesheet" href="{{url_for('static', filename='health.css')}}">
      <style>
         .home {
         background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(52, 44, 44, 0.8)), url("{{url_for('static', filename='images/landing page.webp')}}") no-repeat center center/cover;
         }
      </style>
   </head>
   <body>
      <div class="first">
         <header class="header">
            <nav class="navbar">
               <a href="Health_Prediction.html">Home</a>
               <a href="#">Services</a>
               <a href="#">About Us</a>
               <a href="#">Doctors</a>
               <a href="#">Blogs</a>
            </nav>
            <a href="{{url_for('register')}}"><button class="logo">Predict</button></a>
         </header>
         <section class="home">
            <div class="home-content">
               <div class="drop">
                  <h1><b style="color: rgb(0, 0, 0);">ELECTRONIC</b><br>HEALTH RECORDS</h1>
                  <p style="font-style: italic; font-size: 19px;">You can't control everything in your life but, you can<br> control what you put in your body.</p>
               </div>
               <!-- <a href="#" class="btn1">Make Appointment</a> -->
               <a href="{{ url_for('dashboard') }}" class="btn">Dashboard</a>
            </div>
         </section>
      </div>
   </body>
</html>