<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="login.css">
    <title>ELECTRONIC HEALTH RECORDS</title>
</head>
<body>
    <div class="container">

    <div class="rightbox">
        <div class="innerlog">
            <h1 align="center" style="font-size: 40px;">ELECTRONIC HEALTH RECORDS </h1>
            <h4 align="center">Please ensure the information inputted is accurate</h4>

            <form align="center">
                <h1>Login</h1>
                <input type="text" name="Reg_number" placeholder="Reg number" required><br><br>
                <input type="password" name="password" placeholder="password" required><br><br><br>
                <input href="Health_Prediction.html" type="submit" name="Login"><br><br><br>
</form>
</div>
    </div>
</div>
</body>
</html>